       #body{

       }

        .box{
  			border:1px solid black;
  			margin-top:10px;
  			margin-left:10px;

        width:230px;
        height:230px;
        float:left;
        overflow:hidden;
        text-align:left;
                        font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 1;
        display: block;

        }
        .line{
         width:100%;
          text-align:left;
                                  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 1;
        display: block;

        }

        #hintDiv{
          color:black;
        }
        #errorDiv{
          color:red;
        }
        .column{
          float:left;
          overflow:hidden;
          text-align: center;
          width:30%;
          margin-left:10px;
          margin-right:10px;
          display: inline;
        }
        #wrapper{
          overflow:hidden;
        }
        #inputForm{
text-align:left;
}

.btn{
  border-radius: 3px;
  margin:0px auto;
  position:relative;  
  top:3px;
}

        #daySchedule{
                    width:50%;
                    height:400px;   
          border:1px solid black;
          
        }

#EisenhowerQuadrant{
	width:500px;
  height:500px;
	background-color:grey;
  border-radius:5px;
  float:left;
}
        .urgentimportant{
        
          background-color: green;
          }
.urgentnotImportant{

  background-color: blue;


}
       .notUrgentimportant{

  background-color: orange;

}
.notUrgentnotImportant{

  background-color: red;


}


